.titleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.titleText {
  font-size: 1.5rem;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.fill-space {
  flex: 1;
}
.headerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.currencyRateWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Media queries for mobile devices */
@media (max-width: 768px) {
  .titleWrapper {
    flex-direction: column;
    gap: 0;
  }
  app-clock {
    display: none;
  }
}
