<mat-toolbar color="primary">
  <div>
    <div class="titleWrapper">
      <span class="titleText">Currency</span>
      <span class="titleText">Converter</span>
    </div>
  </div>


  <span class="fill-space"></span>
  <div class="headerWrapper">
    <app-clock />
    <div class="currencyRateWrapper">
      <span class="rateUSD">USD: {{ currencyRates.rates.USD | number:'1.2-2' }}</span>
      <span class="rateEUR">EUR: {{ currencyRates.rates.EUR | number:'1.2-2' }}</span>
    </div>

  </div>

</mat-toolbar>