.clock {
  font-weight: bold;
  font-size: 3.1rem;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hours,
.minutes,
.seconds {
  margin-right: 5px;
}

.colon {
  margin-right: 5px;
  color: #999;
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
