<div class="converterWrapper" *ngIf="exchangeRates">
  <h1 class="title">Choose a currency</h1>
  <div class="fromWrapper">
    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input matInput [(ngModel)]="amount" (ngModelChange)="onAmountChange()" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>From Currency</mat-label>
      <mat-select [(ngModel)]="fromCurrency" (ngModelChange)="onAmountChange()">

        <mat-option *ngFor="let currency of exchangeRates.rates | keyvalue" [value]="currency.key">{{ currency.key
          }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="currencyWrapper">
    <mat-form-field appearance="outline">
      <mat-label>To Currency</mat-label>
      <mat-select [(ngModel)]="toCurrency" (ngModelChange)="onAmountChange()">

        <mat-option *ngFor="let currency of exchangeRates.rates | keyvalue" [value]="currency.key">{{ currency.key
          }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Converted Amount</mat-label>
      <input matInput [(ngModel)]="convertedAmount" (ngModelChange)="onConvertedAmountChange()" />
    </mat-form-field>

  </div>
</div>